html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Permanent Marker", cursive;
    color: #3c3c3c;
    justify-content: space-between;
    font-size: 3vmin;
}
.score {
    font-size: 7vmin;
    text-align: center;
}

#header, #footer {
    display: flex;
    justify-content:space-around;
}

#header {
    font-size: 8vmin;
    margin: 3vmin 0 7vmin;
}

#footer {
    margin: 10vmin 0 5vmin;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#playgrid {
    display: grid;
    grid-template: 20vmin 20vmin 20vmin / 20vmin 20vmin 20vmin;
    overflow: hidden;
    gap: 1vmin;
    background-color: darkgrey;
    position: relative;
    color: #464646;
}

#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

#overlay img {
    width: 100%;
}

.slot {
    font-size: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}