:root {
    --body-txt-color: hsl(0, 0%, 24%);
    --body-bg-color: hsl(0, 0%, 100%);

    --toggle-bg-color: hsl(0, 0%, 67%);
    --toggle-option-selected: hsl(0, 0%, 100%);
    --toggle-option-unselected: hsl(0, 0%, 67%);

    --dialog-bg-color: hsl(0, 0%, 100%);

    --difficulty-option-bg-color: hsl(0, 0%, 95%);
    --difficulty-option-txt-color: hsl(0, 0%, 24%);
    --difficulty-option-hover-bg-color: hsl(0, 0%, 90%);
    --difficulty-option-selected-bg-color: hsl(0, 0%, 24%);
    --difficulty-option-selected-txt-color: hsl(0, 0%, 100%);

    --playgrid-bg-color: hsl(0, 0%, 67%);
    --playgrid-txt-color: hsl(0, 0%, 27%);

    --cell-bg-color: hsl(0, 0%, 99%);
    --cell-hover-bg-color: hsl(0, 0%, 96%);

    --line-filter-invert-percent: 0;
}

.dark-mode {
    --body-txt-color: hsl(0, 0%, 90%);
    --body-bg-color: hsl(0, 0%, 10%);

    --toggle-bg-color: hsl(0, 0%, 39%);
    --toggle-option-selected: hsl(0, 0%, 90%);
    --toggle-option-unselected: hsl(0, 0%, 39%);

    --dialog-bg-color: hsl(0, 0%, 15%);

    --difficulty-option-bg-color: hsl(0, 0%, 20%);
    --difficulty-option-txt-color: hsl(0, 0%, 90%);
    --difficulty-option-hover-bg-color: hsl(0, 0%, 25%);
    --difficulty-option-selected-bg-color: hsl(0, 0%, 90%);
    --difficulty-option-selected-txt-color: hsl(0, 0%, 15%);

    --playgrid-bg-color: hsl(0, 0%, 90%);
    --playgrid-txt-color: hsl(0, 0%, 90%);

    --cell-bg-color: hsl(0, 0%, 11%);
    --cell-hover-bg-color: hsl(0, 0%, 20%);

    --line-filter-invert-percent: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    font-family: "Permanent Marker", cursive;
    color: var(--body-txt-color);
    background-color: var(--body-bg-color);
    font-size: 3vmin;
}

.title {
    position: fixed;
    top: 1vmin;
    width: 100vw;
    text-align: center;
    font-size: 8vh;
    z-index: -10;
}

.score {
    font-size: 7vmin;
    text-align: center;
}

body,
.footer,
.header,
.toggle,
.container,
.topCorner {
    display: flex;
}

body,
.header,
.footer {
    justify-content: space-between;
}

.container,
.toggle {
    justify-content: space-around;
}

.header {
    margin: 4vmin;
    font-size: clamp(3.5vh, 5vmin, 6vmin);
    gap: 4vmin;
}

.toggle {
    height: clamp(4.2vh, 6vmin, 7vmin);
    width: clamp(11.9vh, 17vmin, 18vmin);
    background-color: var(--toggle-bg-color);
    padding: 1vmin;
    cursor: pointer;
    border-radius: 1vmin;
}

.option {
    width: 45%;
    height: 100%;
    border-radius: 1vmin;
}

.left .human {
    background-color: var(--toggle-option-selected);
}

.left .robot {
    background-color: var(--toggle-option-unselected);
}

.right .human {
    background-color: var(--toggle-option-unselected);
}

.right .robot {
    background-color: var(--toggle-option-selected);
}

.header span {
    margin-right: 3vmin;
    text-wrap: nowrap;
}

dialog {
    border: none;
    border-radius: 1vmin;
    background-color: var(--dialog-bg-color);
    color: var(--body-txt-color);
}

dialog .close {
    position: absolute;
    top: 1.5vmin;
    right: 1.5vmin;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: rgb(182, 40, 40);
    background-color: rgba(182, 40, 40, 0.25);
    box-sizing: border-box;
    font-size: 2.5vmin;
    line-height: 0.4;
    padding: 1vmin;
    padding-bottom: 1.25vmin;
    border-radius: 50%;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

#difficulty-dialog {
    position: relative;
    font-size: 2.75vmin;
}

#difficulty-dialog::backdrop {
    backdrop-filter: blur(7px);
}

#difficulty-dialog .dialog-container {
    margin: 3.3vmin 3vmin;
    display: flex;
    flex-direction: row;
    gap: 1.5vmin;
}

#difficulty-dialog .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vmin;
}

#difficulty-dialog .difficulty-bot-label {
    color: rgb(170, 170, 170);
}

#difficulty-dialog .difficulty-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vmin;
}

#difficulty-dialog .difficulty-option {
    cursor: pointer;
    width: 10ch;
    text-align: center;
    border-radius: 1.25vmin;
    padding: 0.75vmin 1.5vmin 1.25vmin;
    background-color: var(--difficulty-option-bg-color);
    color: var(--difficulty-option-txt-color);
}

#difficulty-dialog .difficulty-option:not(.selected):hover {
    background-color: var(--difficulty-option-hover-bg-color);
}

#difficulty-dialog .difficulty-option.selected {
    background-color: var(--difficulty-option-selected-bg-color);
    color: var(--difficulty-option-selected-txt-color);
}

.container {
    display: flex;
    align-items: center;
    width: 100vw;
    flex-grow: 1;
}

#play-grid {
    display: grid;
    grid-template: 20vmin 20vmin 20vmin / 20vmin 20vmin 20vmin;
    border-radius: 3vmin;
    overflow: hidden;
    gap: 1vmin;
    color: var(--playgrid-txt-color);
    background-image: linear-gradient(transparent 0%, var(--playgrid-bg-color) 30%, var(--playgrid-bg-color) 70%, transparent 100%), linear-gradient(to right, transparent 0%, var(--playgrid-bg-color) 30%, var(--playgrid-bg-color) 70%, transparent 100%);
    position: relative;
}

/* resized laptop/desktop browser */
@media screen and (max-width: 130vh) {
    .header {
        margin-top: 16vh;
        margin-bottom: 5vmin;
        justify-content: center;
    }

    .footer {
        margin-top: 0;
    }
}

/* tablets */
@media screen and (max-width: 75vh) {
    dialog {
        border-radius: 2vmin;
    }

    #difficulty-dialog {
        font-size: 3.5vmin;
    }

    #difficulty-dialog .close {
        top: 2.2vmin;
        right: 2.2vmin;
        font-size: 3.5vmin;
        padding: 1.5vmin;
        padding-bottom: 2.2vmin;
    }
}

/* TV and mobile */
@media screen and (max-width: 56.3vh) {
    body {
        font-size: 4.5vmin;
    }

    .title {
        font-size: 7vh;
    }

    .header {
        margin-top: 13vh;
        margin-bottom: 0;
    }

    .container {
        flex-direction: column;
    }

    #play-grid {
        grid-template: 28vmin 28vmin 28vmin / 28vmin 28vmin 28vmin;
        gap: 1.4vmin;
    }

    dialog {
        border-radius: 2vmin;
    }

    #difficulty-dialog {
        font-size: 4vmin;
    }

    #difficulty-dialog .close {
        top: 2.2vmin;
        right: 2.2vmin;
        font-size: 3.8vmin;
        padding: 1.75vmin;
        padding-bottom: 2vmin;
    }

    #difficulty-dialog .dialog-container {
        margin: 4.2vmin 4vmin;
        flex-direction: row;
        gap: 1.5vmin;
    }

    #difficulty-dialog .section {
        flex-direction: column;
        align-items: center;
        gap: 4vmin;
    }

    #difficulty-dialog .difficulty-options {
        flex-direction: column;
        align-items: center;
        gap: 1.5vmin;
    }

    #difficulty-dialog .difficulty-option {
        border-radius: 1.25vmin;
        padding: 0.75vmin 1.5vmin 1.25vmin;
    }
}

.pName {
    text-wrap: nowrap;
    text-align: center;
}

#line-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

#line-overlay img {
    width: 100%;
    filter: invert(var(--line-filter-invert-percent));
}

.cell {
    font-size: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cell-bg-color);
    cursor: pointer;
}

.footer {
    margin: 2.5vmin 4vmin;
    font-size: 2.75vmin;
}

.footer a {
    text-decoration: none;
    color: var(--body-txt-color);
}

.footer button {
    all: unset;
    cursor: pointer;
}
